<!-- require_relative '../models/API' -->

<!-- API = API.get_api_data -->

<div class="container">
  <header><p><%= @user[:email] %></p></header>
  <div><h2><%= @user %></h2>
    <div id="get_api_data"><a href='#'>Load your Fitness Data</a></div><br>
  <table class="weekdays">
    <tr>
      <td class="day1"><img src='/public/css/imgs/sun.png'></td>
      <td class="day2"><img src='/public/css/imgs/SUN.png'></td>
      <td class="day3"><img src='/public/css/imgs/SUN.png'></td>
      <td class="day4"><img src='/public/css/imgs/SUN.png'></td>
      <td class="day5"><img src='/public/css/imgs/SUN.png'></td>
      <td class="day6"><img src='/public/css/imgs/SUN.png'></td>
      <td class="day7"><img src='/public/css/imgs/SUN.png'></td>
    </tr>
    <tr>
      <td class="day1"><%= @today %></td>
      <td class="day2"><%= @today -1 %></td>
      <td class="day3"><%= @today -2 %></td>
      <td class="day4"><%= @today -3 %></td>
      <td class="day5"><%= @today -4 %></td>
      <td class="day6"><%= @today -5 %></td>
      <td class="day7"><%= @today -6 %></td>
    </tr>
    <div class='analysis'></div>
  </table>

  </div>


</div>